.bg-index{
    background: url("../img/backgroundcropped.jpeg") no-repeat
    fixed;
    background-size: 100% auto;
    /*width: 100vw; !* Make sure the background scales with the viewport width *!*/
    /*height: 100vh; !* Keep height based on viewport height *!*/
    /*background-attachment: fixed; !* Ensure background stays in place during scroll *!*/
}

body {
    margin: 0;
    overflow-x: hidden; /* Avoid horizontal scrolling */
}

.navbar a.nav-link {
    color: #FFFEF6 !important;
}
.bg-dark {
    background-color: #2E2E2E !important;
}

.ms-footer {
    background-color: #202020;
}
.ms-footer p {
    color: #7F7F7F;
    font-size: 13px;
}
.ms-footer a:hover {
    color: #6ab43e;
    text-decoration: none;
}
.ms-footer-bottom span{
    font-size: 13px;
    line-height: 38px;
}
.ms-footer-bottom a {
    color: #6ab43e;
    text-decoration: none;
    .ms-footer-bottom a:hover {
        color: #fff;
    }
}

.img-card-200 {
    width: fit-content;
    max-height: 200px;
}

.img-card-400{
    width: fit-content;
    max-height: 400px;
}

.sticky-footer {
    position: absolute;
    bottom: 0;
}

#footer {
    position:fixed;
    bottom:0;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/*.container {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    max-width: 100vw;*/
/*    max-height: 100vh;*/
/*    aspect-ratio: 16 / 9; !* For example, you could lock a container's aspect ratio *!*/
/*}*/

/*@media (max-width: 3000px) {*/
/*    .container {*/
/*        aspect-ratio: 4 / 3; !* Adjust the ratio for mobile screens *!*/
/*    }*/
/*}*/